<% provide :title, t("devise.sessions.title") %>
<div class="row">
  <%= form_for resource, as: resource_name,
    url: registration_path(resource_name),
    html: {method: :put, multipart: true} do |f| %>
    <%= devise_error_messages! %>
    <div class="col-md-6">
      <div>
        <%= image_tag(resource.profile.avatar.url, class: "image-edit-profile") %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, required: true, autofocus: true,
          placeholder: t("devise.registrations.email"),
          class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password, t("devise.registrations.password")+t("devise.registrations.leave_blank") %>
        <%= f.password_field :password,
          placeholder: t("devise.registrations.password"),
          class: "form-control", required: false %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation,
          placeholder: t("devise.registrations.confirm_pass"),
          class: "form-control", required: false %>
      </div>
      <div class="form-group">
        <%= f.password_field :current_password,
          placeholder: t("devise.registrations.current_pass"),
          class: "form-control",
          hint: t("devise.registrations.need_current_pass"),
          required: true %>
      </div>
    </div>
    <!--end div col md 6-->
    <div class="col-md-6">
      <%= f.fields_for :profile do |p| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= p.text_field :name,
            placeholder: t("devise.registrations.name"),
            class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :age %>
          <%= p.number_field :age,
            placeholder: t("devise.registrations.age"),
            class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :address %>
          <%= p.text_area :address,
            placeholder: t("devise.registrations.address"),
            class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :phone_number %>
          <%= p.telephone_field :phone_number,
            placeholder: t("devise.registrations.phone_number"),
            class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :job %>
          <%= p.text_field :job,
            placeholder: t("devise.registrations.job"),
            class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :avatar %>
          <%= p.file_field :avatar, accept: "image/jpeg,image/gif,image/png",
            class: "custom-file-input" %>
        </div>
      <% end %>
    </div>
    <!--end div col md 6-->
    <div class="row">
      <div class="col-md-12">
        <%= f.submit t(".update"), class: "btn btn-primary" %>
        </div>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
