<div id="form-comment<%= comment.id %>">
  <div class="row">
    <div class="col-md-12">
      <%= image_tag comment.user.profile.avatar.url, class: "image-user" %>
      <%= link_to comment.user.profile.name, user_path(comment.user_id) %>:
      <span class="timestamp">
        <%= comment.created_at %>
      </span><br/>
      <p><%= comment.content %><p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 comment-form">
      <%= render "comments/comment_form", post: post, parent_id: comment.id,
        comment_new: comment_new %>
    </div>
  </div>
</div>

