<div class="row user-profile">
  <div class="col-md-7">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><%= @user.profile.name %></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3 col-lg-3" align="center">
                <%= image_tag @user.profile.avatar.url,
                  class: "img-circle img-responsive" %>
              </div>
              <div class="col-md-9 col-lg-9">
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td><%= t "users.show.age" %></td>
                      <td><%= @user.profile.age %></td>
                    </tr>
                    <tr>
                      <td><%= t "users.show.phone_number" %></td>
                      <td><%= @user.profile.phone_number %></td>
                    </tr>
                    <tr>
                      <td><%= t "users.show.address" %></td>
                      <td><%= @user.profile.address %></td>
                    </tr>
                    <tr>
                      <td><%= t "users.show.job" %></td>
                      <td><%= @user.profile.job %></td>
                    </tr>
                    <tr>
                      <td><%= t "users.show.average" %></td>
                      <td><div class="average-review-rating"
                        data-score=<%= @supports.average_review %>></div></td>
                    </tr>
                    <tr>
                      <td><span class="number-of-reviews">
                        <%= t "users.show.base" %> </span></td>
                      <td><%= @supports.reviews.count %>
                        <%= t "users.show.reviews" %></td>
                    </tr>
                  </tbody>
                </table>
                <% if user_signed_in? %>
                  <% unless @supports.check_review current_user, @user %>
                    <li><%= link_to t("users.show.add"), "",
                      "data-toggle": "modal", "data-target": "#review-modal" %>
                    </li>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="reviews">
          <h1><%= t "users.show.reviews" %></h1>
          <% if @supports.reviews.any? %>
            <%= render @supports.reviews %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-5">
    <%= render "user_profile_post", posts: @user.posts %>
  </div>
</div>
<% if user_signed_in? %>
  <%= render "reviews/review_modal", user: @user,
    review: @supports.review_of(current_user)  %>
<% end %>
