<% provide :title, t("pages.home.beauty") %>
<div id="contact" class="container">
  <h3 class="text-center"><%= t "pages.home.contact" %></h3>
  <p class="text-center"><em><%= t "pages.home.love_you" %></em></p>
  <div class="row">
    <div class="col-md-4">
      <p><%= t "pages.home.feed" %></p>
      <p><span class="glyphicon glyphicon-map-marker"></span>
        <%= t "pages.home.hn" %></p>
      <p><span class="glyphicon glyphicon-phone"></span>
        <%= t "pages.home.phone" %> +00 1515151515</p>
      <p><span class="glyphicon glyphicon-envelope"></span>
        <%= t "pages.home.email" %> mail@mail.com</p>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">
            <%= t "pages.home.send" %></button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <h3 class="text-center"><%= t "pages.home.from" %></h3>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab">Chang</a></li>
    <li><a data-toggle="tab" href="#menu1">Michelle</a></li>
    <li><a data-toggle="tab" href="#menu2">Pony</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h2>Chang Makeup </h2>
      <p><%= t "pages.home.chang_content" %></p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h2>Michelle Phan</h2>
      <p><%= t "pages.home.michelle_content" %></p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h2>PONY Makeup</h2>
      <p><%= t "pages.home.pony_content" %></p>
    </div>
  </div>
</div>
