<div class="row">
  <div class="col-sm-3 col-lg-2 col-lg-pull-1">
    <%= render "admin/shared/side_nav" %>
  </div>
  <div class="col-sm-9 col-lg-10">
    <div class="row">
      <h1><%= t "admin.posts.index.posts" %></h1>
      <%= paginate @posts %>
      <%= render "posts_table", posts: @posts,
        caption: t("admin.posts.index.post_list"), time_from: nil %>
      <%= paginate @posts %>
    </div>
    <div class="row">
      <center><h2><%= t "last_7_days" %></h2></center>
      <%= line_chart @supports.last_7_days, colors: [Settings.color.dark_blue] %>
    </div>
    <div class="row">
      <center><h2><%= t "last_6_months" %></h2></center>
      <%= line_chart @supports.last_6_months, colors: [Settings.color.dark_red] %>
    </div>
  </div>
</div>
