<div class="col-sm-3">
  <div class="col-item">
      <div class="photo">
        <div class="<%= "sold" if post.closed? %>">
          <%= link_to image_tag(post.post_img.url,
            class: "post-image img-responsive #{'watermark' if post.closed?}"),
            post_path(post) %>
        </div>
      </div>
      <div class="info">
        <div class="separator clear-left">
          <p class="btn-add">
          <h5><%= link_to post.title, post_path(post.id) %></h5>
            <%= post.impressionist_count %>views
          </p>
          <p class="btn-details">
            <h5 class="price-text-color">$<%= post.price %></h5>
          </p>
        </div>
          <div class="clearfix">
        </div>
    </div>
  </div>
</div>
