<div class="col-sm-4 col-lg-3 col-md-4 post">
  <div>
    <div class="<%= "sold" if post.closed? %>">
      <%= link_to image_tag(post.post_img.url,
        class: "post-image img-responsive #{'watermark' if post.closed?}"),
        post_path(post) %>
    </div>
    <h4><%= link_to post.title, post_path(post.id) %></h4>
    <div class="caption">
      <p>$24.99</p>
    </div>
    <div class="ratings">
      <p><%= post.impressionist_count %>views</p>
      <p><%= post.get_likes.size %> likes</p>
    </div>
  </div>
</div>
