<div class="container">
  <div class="row">
    <div class="col-md-5">
      <%= image_tag @post.post_img.url(:post_show), class: "post-image" %>
    </div>
    <div class="col-md-7">
      <div class="post">
        <div>
          <h3 class="post-title"><%= @post.title %></h3>
          <h6><span class="glyphicon glyphicon-user"></span>
            <%= link_to @post.user.profile.name, user_path(@post.user_id) %></h6>
          <h6 class="timestamp"><span class="glyphicon glyphicon-hourglass"></span>
            <%= @post.created_at.to_s %>
          </h6>
        </div>
        <p class="post-content"><%= @post.content %></p>
      </div>
    </div>
  </div><br/>

  <div class="links btn-group">
    <% if can? :update, @post  %>
      <%= link_to t("posts.show.back"), posts_path, class: "btn btn-custom" %>
    <% else %>
      <%= link_to t("posts.show.back"), root_path, class: "btn btn-custom" %>
    <% end %>
    <% if can? :update, @post %>
      <%= link_to t("posts.show.edit"), edit_post_path(@post),
        class: "btn btn-custom" %>
    <% end %>
    <% if can? :destroy, @post %>
      <%= link_to t("posts.show.delete"), post_path(@post), method: :delete,
        data: {confirm: t("posts.show.sure")}, class: "btn btn-custom" %>
    <% end %>
  </div>
</div>
