<h1><%= t "admin.users.index.users" %></h1>
<div class="row">
  <div class="col-sm-3 col-lg-2 col-lg-pull-1">
    <%= render "admin/shared/side_nav" %>
  </div>
  <div class="col-sm-9 col-lg-10">
    <div class="row">
      <%= paginate @users %>
      <%= render "users_table", users: @users,
        caption: t("admin.users.index.users") %>
      <%= paginate @users %>
    </div>
    <div class="row">
      <center><h2><%= t "last_7_days" %></h2></center>
      <%= column_chart @supports.last_7_days %>
    </div>
    <div class="row">
      <center><h2><%= t "last_6_months" %></h2></center>
      <%= column_chart @supports.last_6_months %>
    </div>
  </div>
</div>
