<div class="review">
  <div class="review-rating" data-score="<%= review.star %>"></div>
  <p class="review-content"><%= review.content %>
    <p class="review-by-user">-<%= review.user.profile.name %></p>
  </p>

  <div class="links btn-group">
    <% if can? :update, review %>
      <%= link_to t("users.show.edit"), "",
        "data-toggle": "modal", "data-target": "#review-modal",
        class: "btn btn-custom" %>
    <% end %>
    <% if can? :destroy, review %>
      <%= link_to t("posts.show.delete"),
        user_review_path(review.user.id, review),
        method: :delete, data: {confirm: t("posts.show.sure")},
        class: "btn btn-custom" %>
    <% end %>
  </div>
</div>
